version: "3.9"
services:
  api:
    build: .
    command: npm start
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - app-network

  nginx:
    build: .
    image: nginx:latest
    volumes:
      - ./nginx:/etc/nginx/conf.d
    ports:
      - 80:3000
    depends_on:
      - api
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
